extends layout

block content
  div(class='form-page')
    h1 #{title}

    form(method='POST' action='')
      div.form-group
        label(for='name') Category:
        input#name.form-control(type='text', placeholder='Fruits, Vegetables etc.' name='name' value=(undefined===category ? '' : category.name))
      div.form-group
        label(for='description') Description:
        textarea#description.form-control(type='textarea', placeholder='Description' name='description' rows='3') #{undefined===category ? '' : category.description}
      button.btn.btn-primary(type='submit') Submit

    if errors 
     ul
      for error in errors
       li!= error.msg
